body {

    min-height: 2000px;
}


.intro_hero {
    background-image: url(../img/living-2.jpg);
    background-size: cover;
    height: 40rem;
    width: 100%;
    margin-bottom: auto;
    margin-top: 3rem ;
}

.nav-container-style {

    width: 100%;
}